<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../layouts/head') %>
    </head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>
        <a class="volver" href="/">Volver</a>
        <h1> Listado de Usuarios </h1>
        <h6>CRUD Completo</h6>
        <ul>
            <% users.forEach(function(user) { %>
            <li>
              <article>
                <h4>
                  <a><%= user.nombre + ' ' + user.apellido %></a>
                </h4>
                
                <button type="button"  data-bs-toggle="modal" data-bs-target="#modalEditarUsuario<%= user.id %>" data-userid="<%= user.id %>">Modificar</button>
                
                <form action="/deleteUser/<%= user.id  %>" method="POST">
                  <button>Eliminar</button>
                </form>
              </article>
            </li>
            <% }); %>
        </ul>

        <button type="button"  data-bs-toggle="modal" data-bs-target="#modalCrearUsuario"> Crear usuario</button>
        
        <!-- Modal para crear usuarios -->
        <form action="createUser" method="POST">
          <div class="modal" tabindex="-1" id="modalCrearUsuario">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">CREAR USUARIO</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label for="addNombre" id="nombre">Nombre</label>
                  <input type="text" name="addNombre" id="addNombre" placeholder="Nombre">
                  <label for="addApellido" id="apellido">Apellido</label>
                  <input type="text" name="addApellido" id="addApellido" placeholder="Apellido">
                  <label for="addEmail" id="email">Email</label>
                  <input type="email" name="addEmail" id="addEmail" placeholder="Email">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
      </form>

        <!-- Modal para editar usuarios -->
      <% users.forEach(function(user) { %>
      <form action="/updateUser/<%= user.id  %>" method="post">
        <div class="modal" tabindex="-1" id="modalEditarUsuario<%= user.id %>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">EDITAR USUARIO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label for="editNombre" id="nombre">Nombre</label>
                <input type="text" name="editNombre" id="editNombre" placeholder="Nombre" value="<%= user.nombre %>">
                <label for="editApellido" id="apellido">Apellido</label>
                <input type="text" name="editApellido" id="editApellido" placeholder="Apellido" value="<%= user.apellido %>">
                <label for="editEmail" id="email">Email</label>
                <input type="email" name="editEmail" id="editEmail" placeholder="Email" value="<%= user.email %>">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <% }); %>
    </main>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>